<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="icon"
    type="image/png"
    sizes="16x16"
  />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="theme-color" content="#ffffff" />
  <link rel="stylesheet" href="../assets/resources/styles/main.css" />
  <link rel="stylesheet" href="../assets/resources/styles/colegas.css" />

    <title>Compliments - Profile</title>
    
</head>
<body>

    <nav class="navbar">
            <img src="../public/images/logo.svg" alt="logo">

        <h3></h3>

        <button id="menu">
            <img src="../public/images/menu.svg" alt="">
        </button>
        
    </nav>
    <div id="opcoes">
        <a href="profile-user-compliments.html">home</a>
        <a href="colegas.html">colegas</a>
        <a id="logout" href="#">sair</a>
    </div>
    <main>
        <section class="compliments-user">
            <h2>Elogie seu colega</h2>


            <span>colegas</span>
            <div class="compliments">
                <ul>
                    
                    
                </ul>
            </div>
        </section>
    </main>
    
    <script type="module" src="../assets/resources/scripts/main.js"></script>
    <script type="module" src="../assets/resources/scripts/colegas.js"></script>
</body>
</html>