<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Compliments - Login</title>
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
    />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
    <!-- CSS only -->
    <link rel="stylesheet" href="../assets/resources/styles/main.css" />
    <link rel="stylesheet" href="../assets/resources/styles/login.css" />
    
  </head>
  <body>
    <header>
      <img src="../public/images/logo.svg" alt="Compliments" />
    </header>

    <main>
      <div id="container">
        <img src="../public/images/people.svg" alt="people" />

        <section>
          <form name="login" class="form">
              <h2>login</h2>

              <div class="alert" role="alert">
                Email ou senha incorretos!
              </div>
            <input class="input" type="email" placeholder="Informe o email" required>
            <input class="input" type="password" placeholder="Informe a senha" required>

            <input id="signin" type="button" value="Entrar" class="button">
          </form>
        </section>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="../assets/resources/scripts/main.js"></script>
    <script type="module" src="../assets/resources/scripts/login.js"></script>
  </body>
</html>
