<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="icon"
    type="image/png"
    sizes="16x16"
  />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="theme-color" content="#ffffff" />
  <link rel="stylesheet" href="../assets/styles/main.css" />
  <link rel="stylesheet" href="../assets/styles/profileUserCompliments.css" />

    <title>Compliments - Profile</title>
    
</head>
<body>

    <nav class="navbar">
            <img src="../public/images/logo.svg" alt="logo">

        <h3></h3>

        <button>
            <img src="../public/images/menu.svg" alt="">
        </button>
       
    </nav>

    <main>
        <section class="compliments-user">
            <h2>Elogios que você recebeu...</h2>

            <div class="compliments">
                <ul>
                    <li>#eduacado</li>
                    <li>#eduacado</li>
                    <li>#eduacado</li>
                    <li>#eduacado</li>
                    <li>#eduacado</li>
                </ul>
            </div>
        </section>
    </main>
    
    <script src="../assets/scripts/main.js"></script>
    <script src="../assets/scripts/profileUserCompliments.js"></script>
</body>
</html>