<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Compliments - Register</title>
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
    />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" href="../assets/resources/styles/main.css" />
    <link rel="stylesheet" href="../assets/resources/styles/register.css" />
  </head>
  <body>
    <header>
      <img src="../public/images/logo.svg" alt="Compliments" />
    </header>

    <main>
      <div id="container">
        <h2>Cadastro</h2>
        <section>
          
          <form name="register" class="form">
            <span>Digite seu nome</span>
            <input class="input" type="text" >

            <span>Digite seu email</span>
            <input class="input" type="email" required>

            <span>Senha</span>
            <input class="input" type="password" >

            <span>Confirme sua senha</span>
            <input class="input" type="password" >

            <input type="submit" value="Cadastrar" class="button">
          </form>
        </section>
      </div>

      <footer>
      </footer>
    </main>

    <script src="../assets/resources/scripts/main.js"></script>
    <script src="../assets/resources/scripts/register.js"></script>
  </body>
</html>
